.icon-button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
}

.icon-button__icon {
    cursor: pointer;
    display: inline;
    text-align: center;
}

.icon-button__toggled {
    outline: 2px solid #a0c4e4;
    background-color: #c7ddef;
}

.icon-button__icon_disabled {
    cursor: auto;
    opacity: 0.3;
}

span.icon-button__icon {
    font-size: 18px;
}

img.icon-button__icon_disabled {
    filter: grayscale(100%);
    opacity: 0.8;
    cursor: auto;
}
