.banner {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

h1 {
    font-size: 1.7em;
    font-weight: 500;
    color: white;
    text-align: center;
}

p {
    font-size: 1.1em;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}
